In [1]:
!pip install implicit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: implicit in /usr/local/lib/python3.7/dist-packages (0.6.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from implicit) (1.21.6)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from implicit) (4.64.0)
Requirement already satisfied: scipy>=0.16 in /usr/local/lib/python3.7/dist-packages (from implicit) (1.7.3)

In [2]:
import pandas as pd

In [3]:
rating_file_path= ('/content/drive/MyDrive/Colab Notebooks/movielens/ratings.dat')
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head(3)

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968

In [4]:
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [5]:
ratings.rename(columns={'rating':'count'}, inplace=True)

In [6]:
ratings.head(3)

   user_id  movie_id  count  timestamp
0        1      1193      5  978300760
1        1       661      3  978302109
2        1       914      3  978301968

In [7]:
movie_file_path= ('/content/drive/MyDrive/Colab Notebooks/movielens/movies.dat')
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [8]:
data = pd.merge(movies, ratings, left_on='movie_id', right_on='movie_id', how='inner')
data.head()

,movie_id,title,genre,user_id,count,timestamp
0,1,Toy Story (1995),Animation|Children's|Comedy,1,5,978824268
1,1,Toy Story (1995),Animation|Children's|Comedy,6,4,978237008
2,1,Toy Story (1995),Animation|Children's|Comedy,8,4,978233496
3,1,Toy Story (1995),Animation|Children's|Comedy,9,5,978225952
4,1,Toy Story (1995),Animation|Children's|Comedy,10,5,978226474

In [9]:
data.isnull().sum()

movie_id     0
title        0
genre        0
user_id      0
count        0
timestamp    0
dtype: int64

In [10]:
using_cols = ['user_id', 'title', 'count']
data = data[using_cols]
data.head(10)

   user_id             title  count
0        1  Toy Story (1995)      5
1        6  Toy Story (1995)      4
2        8  Toy Story (1995)      4
3        9  Toy Story (1995)      5
4       10  Toy Story (1995)      5
5       18  Toy Story (1995)      4
6       19  Toy Story (1995)      5
7       21  Toy Story (1995)      3
8       23  Toy Story (1995)      4
9       26  Toy Story (1995)      3

In [11]:
data['title'] = data['title'].str.lower() # 검색을 쉽게하기 위해 아티스트 문자열을 소문자로 바꿔줍시다.
data.head(10)

   user_id             title  count
0        1  toy story (1995)      5
1        6  toy story (1995)      4
2        8  toy story (1995)      4
3        9  toy story (1995)      5
4       10  toy story (1995)      5
5       18  toy story (1995)      4
6       19  toy story (1995)      5
7       21  toy story (1995)      3
8       23  toy story (1995)      4
9       26  toy story (1995)      3

In [12]:
condition = (data['user_id']== data.loc[0, 'user_id'])
data.loc[condition]

        user_id                                              title  count
0             1                                   toy story (1995)      5
19773         1                                  pocahontas (1995)      5
35123         1                                   apollo 13 (1995)      5
54895         1          star wars: episode iv - a new hope (1977)      4
116019        1                            schindler's list (1993)      5
119008        1                          secret garden, the (1993)      4
130190        1                                     aladdin (1992)      4
138999        1             snow white and the seven dwarfs (1937)      4
139706        1                        beauty and the beast (1991)      5
142605        1                                       fargo (1996)      4
149342        1                   james and the giant peach (1996)      3
153599        1  wallace & gromit: the best of aardman animatio...      3
157311        1                              close shave, a (1995)      3
162564        1                hunchback of notre dame, the (1996)      4
184379        1                                my fair lady (1964)      3
185984        1                           wizard of oz, the (1939)      4
194770        1                                        gigi (1958)      4
206730        1                                  cinderella (1950)      5
208099        1                                mary poppins (1964)      5
209016        1                                       dumbo (1941)      5
210912        1                         sound of music, the (1965)      5
230314        1                  e.t. the extra-terrestrial (1982)      4
248714        1             one flew over the cuckoo's nest (1975)      5
253451        1                         princess bride, the (1987)      3
264249        1                       to kill a mockingbird (1962)      4
293292        1                          dead poets society (1989)      4
310685        1                          back to the future (1985)      5
321302        1                                     ben-hur (1959)      5
376764        1                                     ponette (1996)      4
378252        1                                    hercules (1997)      4
413443        1                                     titanic (1997)      4
427854        1                     last days of disco, the (1998)      5
433771        1                                       mulan (1998)      4
450533        1                                    rain man (1988)      5
451817        1                          driving miss daisy (1989)      4
468578        1                                       bambi (1942)      4
472333        1                         saving private ryan (1998)      5
525392        1                                        antz (1998)      4
530676        1                               pleasantville (1998)      3
536358        1                              meet joe black (1998)      3
539498        1                               bug's life, a (1998)      5
552697        1                      miracle on 34th street (1947)      4
604667        1                                      tarzan (1999)      3
605985        1                   run lola run (lola rennt) (1998)      4
624733        1                            sixth sense, the (1999)      4
630899        1                                   airplane! (1980)      4
633946        1                                         big (1988)      4
635999        1                          christmas story, a (1983)      5
656320        1                    ferris bueller's day off (1986)      4
698979        1                                  awakenings (1990)      5
701857        1                                 toy story 2 (1999)      4
716464        1                           girl, interrupted (1999)      4
748880        1                             erin brockovich (2000)      4

In [13]:
data['title'].nunique()

3628

In [14]:
data['user_id'].nunique()

6039

In [15]:
movie_count = data.groupby('title')['count'].count()
movie_count.sort_values(ascending=False).head(30)

title
american beauty (1999)                                   3211
star wars: episode iv - a new hope (1977)                2910
star wars: episode v - the empire strikes back (1980)    2885
star wars: episode vi - return of the jedi (1983)        2716
saving private ryan (1998)                               2561
terminator 2: judgment day (1991)                        2509
silence of the lambs, the (1991)                         2498
raiders of the lost ark (1981)                           2473
back to the future (1985)                                2460
matrix, the (1999)                                       2434
jurassic park (1993)                                     2413
sixth sense, the (1999)                                  2385
fargo (1996)                                             2371
braveheart (1995)                                        2314
men in black (1997)                                      2297
schindler's list (1993)                                  2257
princess bride, the (1987)                               2252
shakespeare in love (1998)                               2213
l.a. confidential (1997)                                 2210
shawshank redemption, the (1994)                         2194
godfather, the (1972)                                    2167
groundhog day (1993)                                     2121
e.t. the extra-terrestrial (1982)                        2102
being john malkovich (1999)                              2066
ghostbusters (1984)                                      2051
pulp fiction (1994)                                      2030
forrest gump (1994)                                      2022
terminator, the (1984)                                   2019
toy story (1995)                                         2000
fugitive, the (1993)                                     1941
Name: count, dtype: int64

In [16]:
user_count = data.groupby('user_id')['count'].count()
user_count.describe()

count    6039.000000
mean      138.512668
std       156.241599
min         1.000000
25%        38.000000
50%        81.000000
75%       177.000000
max      1968.000000
Name: count, dtype: float64

In [17]:
# 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
my_favorite = ['Jumanji (1995)' ,'Star Wars: Episode IV - A New Hope (1977)' ,'Matrix, The (1999)','terminator 2: judgment day (1991)','Toy Story (1995)']

# 'fly'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_movielist = pd.DataFrame({'user_id': ['fly']*5, 'title': my_favorite, 'count':[5]*5})

if not data.isin({'user_id':['fly']})['user_id'].any():  # user_id에 'fly'이라는 데이터가 없다면
    data = data.append(my_movielist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

data.tail(10)       # 잘 추가되었는지 확인해 봅시다.

       user_id                                      title  count
836473    5682                      contender, the (2000)      3
836474    5812                      contender, the (2000)      4
836475    5831                      contender, the (2000)      3
836476    5837                      contender, the (2000)      4
836477    5998                      contender, the (2000)      4
0          fly                             Jumanji (1995)      5
1          fly  Star Wars: Episode IV - A New Hope (1977)      5
2          fly                         Matrix, The (1999)      5
3          fly          terminator 2: judgment day (1991)      5
4          fly                           Toy Story (1995)      5

In [18]:
#user_id와 title에 인덱싱을 하는 작업
# 고유한 유저, title를 찾아내는 코드
user_unique = data['user_id'].unique()
movie_unique = data['title'].unique()

# 유저, 아티스트 indexing 하는 코드
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [19]:
# 인덱싱이 잘 되었는지 확인
print(user_to_idx['fly']) # 6039-1 ????
print(movie_to_idx['Toy Story (1995)']) #3628+5(전체영화수)-1(인덱스는0부터) = 3632

6039
3631

In [20]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수 : dic.get('key') = value
# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# movie_to_idx을 통해 title 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_title_data = data['title'].map(movie_to_idx.get).dropna()
if len(temp_title_data) == len(data):
    print('title column indexing OK!!')
    data['title'] = temp_title_data
else:
    print('title column indexing Fail!!')

data

user_id column indexing OK!!
title column indexing OK!!

    user_id  title  count
0         0      0      5
1         1      0      4
2         2      0      4
3         3      0      5
4         4      0      5
..      ...    ...    ...
0      6039   3628      5
1      6039   3629      5
2      6039   3630      5
3      6039    569      5
4      6039   3631      5

[836483 rows x 3 columns]

In [21]:
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_title = data['title'].nunique()

csr_data = csr_matrix((data["count"], (data["user_id"], data["title"])), shape= (num_user, num_title))
csr_data

<6040x3632 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

In [22]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

/usr/local/lib/python3.7/dist-packages/implicit/gpu/__init__.py:14: UserWarning: CUDA extension is built, but disabling GPU support because of 'Cuda Error: no CUDA-capable device is detected (/project/./implicit/gpu/utils.h:71)'
  f"CUDA extension is built, but disabling GPU support because of '{e}'",

In [23]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [24]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3632x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [25]:
# 모델 훈련
als_model.fit(csr_data_transpose)

/usr/local/lib/python3.7/dist-packages/implicit/utils.py:141: ParameterWarning: Method expects CSR input, and was passed csc_matrix instead. Converting to CSR took 0.030976295471191406 seconds
  ParameterWarning,

  0%|          | 0/15 [00:00<?, ?it/s]

In [28]:
fly, toystory = user_to_idx['fly'], movie_to_idx['Toy Story (1995)']
fly_vector, toystory_vector = als_model.user_factors[toystory], als_model.item_factors[fly]

In [30]:
# fly 과 toystory를 내적하는 코드
print("toystory 선호도:",np.dot(fly_vector, toystory_vector))

toystory 선호도: 0.0021494855

In [31]:
#랜덤 영화에 대한 선호도를 어떻게 예측할지?
Matrix = movie_to_idx['Matrix, The (1999)']
Matrix_vector = als_model.item_factors[Matrix]
print("Matrix 선호도:", np.dot(fly_vector, Matrix_vector))

Matrix 선호도: 0.000551455

In [32]:
favorite_movie = 'Toy Story (1995)'
movie_id = movie_to_idx[favorite_movie]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

(array([3631, 2536, 2527, 1882,  722,  112, 4895, 1294, 5535, 3272, 2756,
        4932, 3257, 3082, 2414], dtype=int32),
 array([1.        , 0.63636065, 0.62810576, 0.60673374, 0.590908  ,
        0.5857818 , 0.58410704, 0.5814979 , 0.5749919 , 0.56754065,
        0.56612855, 0.56262076, 0.5624839 , 0.56230545, 0.5596954 ],
       dtype=float32))

In [33]:
#movie_to_idx 를 뒤집어, index로부터 movie 이름을 얻는 dict를 생성합니다. 
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
[idx_to_movie[i[0]] for i in similar_movie]

['Toy Story (1995)', 'jumanji (1995)']

In [34]:
def get_similar_movie(movie_name: str):
    movie_id = movie_to_idx[movie_name]
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [idx_to_movie[i[0]] for i in similar_movie]
    return similar_movie

In [35]:
get_similar_movie('Toy Story (1995)')

['Toy Story (1995)', 'jumanji (1995)']

In [40]:
get_similar_movie('century (1993)')

['century (1993)', 'jumanji (1995)']

In [54]:
user = user_to_idx['fly']
# recommend에서는 user*item CSR Matrix를 받습니다.
movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

ValueError: ignored

In [53]:
[idx_to_movie[i[0]] for i in movie_recommended]

NameError: ignored

In [ ]:
terminator = movie_to_idx['terminator, the (1984)']
explain = als_model.explain(user, csr_data, itemid=terminator)
[(idx_to_movie[i[0]], i[1]) for i in explain[1]]

In [ ]:
ToyStory = movie_to_idx['Toy Story (1995)']
explain = als_model.explain(user, csr_data, itemid=ToyStory)
[(idx_to_movie[i[0]], i[1]) for i in explain[1]]

내가 좋아할만한 영화 추천 받기에서 막혔다. 위의 fly_vector, toystory_vector = als_model.user_factors[toystory], als_model.item_factors[fly] 이 파트에서 원래는 fly, toystroy 순으로 진행을 하였으나 계속 에러가 났다. 그래서 왜 문제인지 파악 하였고 fly와 toystory의 위치를 바꾸니 문제가 해결되었다. 이후 진행 하다 내가 좋아할만한 영화를 추천 하는 곳에서 한 번 더 막혔다. 앞에서 좀 다르게 해서 그런지 원래의 방식대로 진행하지 잘 동작하지 않았다.